body {
  color: #333
}

#container {
  padding: 2.5%;
  width: 60%;
  float: left;
  margin: 0;
}

#container li {
  padding: .25em;
  list-style: none;
}

#users {
  width: 30%;
  padding: 2.5%;
  margin: 0;
  float: right;
}

.username {
  color: #8e3400;
}

.username-me {
  color: #3a0303;
}

.system-message {
  color: #999;
}
